body {
    padding-bottom: 20px;
    font-family: 'Titillium Web', cursive;
    font-size: 16px;
}

.grid-style {
    border: 1px solid rgb(212,212,212);
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.user-details {
    margin-top: 50px;
}

#ajaxBusy
{
        display:none;
         position: absolute;
         width: 40px;
         height: 40px;
         bottom: 0px;
         top: 0px;
         left: 0px;
         right: 0px;
         margin: auto;
}

.gender-text {
    margin: 0 5px;
    vertical-align: sub;
}
